@import './variables.scss';

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2rem 1rem;
}

.cp {
  height: 85vh;
  text-align: center;
  .center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0rem 1rem 2rem 0rem;

    .controls {
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: space-evenly;

      input[type='text'] {
        text-align: center;
        font-size: 1rem;
        width: 150px;
        height: 20px;
      }
    }

    .components {
      margin: 1rem;
      input {
        text-align: center;
        font-size: 1rem;
        width: 50px;
        height: 50px;
      }

      p {
        display: inline;
        font-size: 1.2rem;
        margin: 1rem;
      }
    }

    .blurhash-input {
      background: white;
      display: flex;
      align-items: center;
      margin: 0 auto;
      height: 8vh;
      border-radius: $radius;
      width: 40%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transition: all 0.2s linear;

      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      }

      svg {
        margin-right: 10px;
        font-size: 2rem;
        cursor: pointer;
      }

      input {
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0 0 0 1.5rem;
        border-radius: $radius;
        width: 100%;
        &.valid {
          color: blue;
        }

        &.invalid {
          color: red;
        }
        border: transparent;
        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    .upload-input {
      .upload {
        display: none;
      }

      .upload-btn {
        background: blue;
        color: white;
        width: 23vh;
        font-size: 1rem;
        height: 40px;
        padding: 0rem 1rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .url-input {
      position: relative;
      width: 60%;
      margin: 0 auto;

      input {
        width: 100%;
        padding: 0 2.5rem 0 0.5rem;
        height: 30px;
        font-size: 0.9rem;
      }

      button {
        position: absolute;
        right: 10px;
        top: 30px;
        background: transparent;
        border: transparent;
        svg {
          color: blue;
          font-size: 1rem;
        }
      }
    }
  }
}

.image_previewer {
  height: 85vh;
  display: grid;
  grid-template-rows: 50% 50%;
  row-gap: 1rem;

  .original {
    height: 100%;
    max-width: 100%;
  }

  .img_container {
    max-width: 50vw;
    text-align: center;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    &.resizable {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.navbar {
  background: white;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.1);

  div {
    min-height: 75px;
    margin: auto 2rem;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

    h2 {
      flex: 3;
    }

    ul {
      display: flex;
      flex: 1;
      justify-content: space-evenly;

      li {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
      }
    }

    a {
      &:hover {
        opacity: 0.6;
      }

      &.selected {
        color: blue;
        font-size: 1.3rem;
      }
    }

    svg {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .image_previewer {
    justify-self: center;
    .img_container {
      height: 90%;
      max-width: 40vw;
    }
  }

  .cp {
    .center {
      margin: 0;
      .blurhash-input {
        width: 100%;
      }

      .controls {
        flex-direction: column;
      }

      .url-input {
        width: 100%;
      }
    }
  }

  .navbar {
    div {
      h2 {
        font-size: 1.5rem;
      }

      ul {
        flex: 2;
      }

      svg {
        font-size: 1.5rem;
      }

      a {
        font-size: 0.8rem;

        &.selected {
          font-size: 1.1rem;
        }
      }
    }
  }
}
