.main_container {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem;
  height: 85vh;
}

.control_panel {
  flex: 2;
  text-align: center;
  .center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .upload {
      display: none;
    }

    .upload-btn {
      background: blue;
      color: white;
      letter-spacing: 5px;
      border-radius: 3px;
      font-weight: 700;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-color: transparent;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

      &:active {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
    }

    .blurhash-wrapper {
      display: flex;
      margin: 0 auto;
      width: 40%;
      padding: 2rem 1.5rem;
      border-radius: 3px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transition: all 0.2s linear;

      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      }

      svg {
        font-size: 2rem;
        cursor: pointer;
      }

      input {
        font-size: 1rem;
        margin-right: 1rem;
        width: 100%;
        &.valid {
          color: blue;
        }

        &.invalid {
          color: red;
        }
        border: transparent;
        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }
}

//TODO: break to reusable css

.image_previewer {
  flex: 2;
  display: grid;
  grid-template-rows: 50% 50%;
  row-gap: 1rem;

  .original {
    height: 100%;
    max-width: 100%;
  }

  .img_container {
    max-width: 50vw;
    text-align: center;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    &.resizable {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.navbar {
  background: grey;
  div {
    margin: auto 2rem;
    justify-content: space-between;
    display: flex;

    ul {
      display: inline;
    }
  }
}
