.main_container {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem;
  height: 85vh;
}

.control_panel {
  flex: 2;
  text-align: center;
}

.image_previewer {
  flex: 2;
  display: grid;
  grid-template-rows: 50% 50%;
  row-gap: 1rem;

  .original {
    height: 100%;
  }

  //NOTE: add radius on blurhash as well

  .img_container {
    text-align: center;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
}

.navbar {
  background: grey;
  div {
    margin: auto 2rem;
    justify-content: space-between;
    display: flex;

    ul {
      display: inline;
    }
  }
}
