/*
===========
Variables
===========
*/

$background: hsl(210, 36%, 96%);
$transition: all 0.2s linear;
$radius: 3px;

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  font-size: 1.5rem;
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}

@keyframes loader-animation {
  0% {
    left: 0%;
  }
  49% {
    left: 50%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}
